body {
    background-color: rgb(22, 34, 51);
    font-family:Hero, Arial, Helvetica, sans-serif;
    
}
.textcol1{
    color: white;
}
.textcol2{
    color: rgb(58, 58, 58);
    font-size: 13px;
   
}
.textcol3{
    color: rgb(58, 58, 58); 
    font-weight: 400;
}
.FChunk
{
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 110px;
    margin-right: 110px;
    scale: 100%;
}
.SChunk{
    display:flex;
    margin-bottom: 100px;
    margin-left: 110px;
    margin-right: 110px;

}
.TChunk{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    scale: 100%;
}
.FoChunk
{
    background-color: rgb(212, 212, 212);
    height: 120px;
    display: flex;
    padding: 100px;
    font-size: 27px;
    font-style: italic;
    flex-direction: column;
    justify-content: center; 
}
.FifChunk{
    display: flex;
    background-color: white;
    scale: 100%;
    height: 400px;


}
.Text4ch{
    display: flex;
    justify-content: center;
    font-weight:100;
    
}
.signat1{
    font-style:normal; 
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-right: 15px;
    font-size: 20px;    
}
   
.link1
 {   
    display: flex;
    flex-direction:row;
    gap: 20px;
}
.Button1{
    color: white;
    background-color: rgb(12, 115, 212);
    padding: 10px;;
    width: 100px;
    border-radius: 10px;
   
    
}
.Box1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 800px;
    height: 200px;
    scale: 100%;
}
.center{
    display: flex;;
    justify-content: center;
    align-items: center;
    
}
.box{
    width: 110px;
    height: 110px;
    border-radius: 20px;
    border: solid 3px rgb(80, 103, 207);
    display: flex;
    flex-direction: row;
}
.boxmain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px; 
}
.boxmain2{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
   
}
.textimg{
    margin-top: 120px;
    align-content: center;
}
.Boxfifth{
    background-color: rgb(79, 148, 204);
    display: flex;
    align-items: center;
    padding-left: 100px;
    width: 600px;
    height: 120px;
    margin: auto;
    border-radius: 20px;
    line-height: 0px;
}
.Buttonself{
    margin: 30px;
    


}